<div [@routerTransition]>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <table align="center">
        <tbody>
            <tr>
                <td width="50" style="border-right:1.5px solid; padding:15px;  text-shadow: 2px 2px;" align="left">
                    <img src="/assets/images/AuSc Grid VGL_1.png" height="200px">
                </td>
                <td width="500">
                    <p align="left" style="margin-left: 20px">The Virtual Geophysics Laboratory (VGL) is a scientific workflow portal that provides Geophysicists with
                        access to an integrated environment that exploits eResearch tools and Cloud computing technology.
                        It provides in one place -</p>

                    <ul>
                        <li> Online access to a wide variety of geophysical datasets</li>
                        <li> Access to specialised geophysics analysis programs</li>
                        <li> Access to high-performance computing</li>
                        <li> A workflow with spatial environment</li>
                    </ul>
                    <a [routerLink]="['/dashboard']" class="btn btn-secondary" style="float: left; margin-left:20px;">Access VGL</a>
                </td>
            </tr>


        </tbody>
    </table>

    <p>&nbsp;</p>
    <p class=MsoNormal align=center style='margin-bottom:15.0pt;text-align:center; line-height:normal'>        
        <img src="/assets/images/workflow.png" align="center" alt="bar" style="max-width: 90%;height: auto;">
        <br>
    </p>

    <table align="center">
        <tbody>
            <tr>
                <td width="50" align="center" colspan="8" style="padding:25px">
                    <span >Copyright</span>
                    <p style="font-size:12px;">
                        &copy;&nbsp;This VGL website and its Content are protected by copyright law. Copyright in this material resides with
                        <a href="http://www.auscope.org.au/" style="color:black">AuScope</a> or various other data and service providers as indicated. VGL accesses Content from many
                        different sources. All reasonable efforts have been made to ensure that we properly acknowledge/attribute
                        the source of the Content and obtained the necessary permissions. If however you believe that we
                        have not properly accessed your Content please do not hesitate to contact cg-admin@csiro.au and we
                        will address your concerns. Many of the trademarks or logos displayed on the VGL website such as
                        the AuScope or CSIRO logo or name are the registered trademarks of the corresponding organisations.
                        The trademarks of third parties are also displayed on this website. All these trademarks cannot be
                        used without the express written permission of AuScope or the relevant third party.
                    </p>
                </td>
            </tr>
            <tr>
                <td width="100" align="center" colspan="8">
                    <span>ACKNOWLEDGEMENTS</span>
                    <p style="font-size:12px">VGL is a collaboration between
                        <a href="http://www.auscope.org.au/" style="color:black">AuScope</a>, CSIRO, Geoscience Australia (GA), and the National Computational Infrastructure (NCI).
                        <br> It has been funded by the Federal Government's Education Investment Funds through Australian Research
                        Data Commons (ARDC).
                        <br>It was developed in close collaboration with the geophysics user community and representatives from
                        GA, CSIRO, ANU, Monash, and UQ.</p>
                </td>
            </tr>
            <tr>
                <td width="224" align="right">
                    <img src="/assets/images/auscope_single-colour-1.png" height="40px">
                </td>
                <td width="224" align="center">
                    <img src="/assets/images/geoscience.png" height="75px">
                </td>
                <td width="224" align="center">
                    <img src="/assets/images/ardc_logo_rgb.png" height="50px">
                </td>
                <td width="224" align="center">
                    <img src="/assets/images/NCI_Australia_logo.jpg" height="70px">
                </td>
                <td width="224" align="center">
                    <img src="/assets/images/ncris_provider.png" height="70px">
                </td>
                <td width="224" align="center">
                    <img src="/assets/images/CSIRO_Grad_CMYK-100x100.png" opacity="0.5" height="50px">
                </td>
                <td width="224" align="left">
                    <img src="/assets/images/uni_adelaide.png" opacity="0.5" height="50px">
                </td>
            </tr>
        </tbody>
    </table>
</div>