<div [@routerTransition]>
    <!-- Messages -->
    <p-toast [baseZIndex]="99999"></p-toast>
    <!-- Header -->
    <app-page-header [heading]="'User Profile'" [icon]="'fa-user'"></app-page-header>
    <div class="row" style="margin-left:0px;width:100%;">
        <!-- User Management -->
        <ngb-tabset style="width: 100%;">
            <!-- AWS Configuration -->
            <ngb-tab title="AWS">
                <ng-template ngbTabContent>
                    <div class="row" style="width:100%;margin-top:10px;">
                        <!-- Initialising AWS -->
                        <div class="col-lg-5" style="overflow-y:auto;height:calc(100vh - 250px);">
                            <div class="card" style="min-height:100%">
                                <div class="card-header">Step 1: Initialising Your AWS</div>
                                <div class="card-body">
                                    <h5>Tutorial Video</h5>
                                    <!-- TODO: Put in actual video -->
                                    <img src="http://placekitten.com/450/250" style="max-width:100%;">
                                    <!-- TODO: Sort out actual link, can't get this to work from dev machine -->
                                    <p>You can also follow instructions at our
                                        <a href="https://confluence.csiro.au/display/DEVL/Setting+up+a+Dev+environment" target="_blank">wiki</a>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-primary pull-right" style="max-width:100%;" (click)="downloadCloudFormationPolicy()">Download Cloud Formation Policy</button>
                                </div>
                            </div>
                        </div>
                        <!-- Configuring AWS -->
                        <div class="col-lg-7" style="overflow-y:auto;height:calc(100vh - 250px);">
                            <form #awsForm="ngForm" style="height:100%;">
                                <div class="card" style="min-height:100%;">
                                    <div class="card-header">Step 2: Configuring NGVL</div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="accessArn" class="required">VGL Instance ARN</label>
                                            <input type="text" class="form-control" id="accessArn" name="accessArn" [(ngModel)]="user.arnExecution" required>
                                            <p><small class="text-muted">Amazon resource name for the role which is used to access the client AWS account.</small></p>
                                            <label for="instanceArn" class="required">Job Instance ARN</label>
                                            <input type="text" class="form-control" id="instanceArn" name="instanceArn" [(ngModel)]="user.arnStorage" required>
                                            <p><small class="text-muted">The Amazon resource name for the instance profile which is used when processing user jobs.</small></p>
                                            <label for="keyName">AWS Key Name</label>
                                            <input type="text" class="form-control" id="keyName" name="keyName" [(ngModel)]="user.awsKeyName">
                                            <p><small class="text-muted">The (optional) name of the key to be applied to every VM started by VGL</small></p>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary pull-right" [disabled]="!awsForm.valid" (click)="saveAwsChanges()">Save Changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <!-- NCI Configuration -->
            <ngb-tab title="NCI">
                <ng-template ngbTabContent>
                    <div class="row" style="width:100%;margin-top:10px;">
                        <div class="col" style="overflow-y:auto;height:calc(100vh - 250px);">
                            <form #nciForm="ngForm" style="height:100%;">
                                <div class="card" style="min-height:100%;">
                                    <div class="card-header">Enter Your NCI Credentials</div>
                                    <div class="card-body">
                                        <label class="required" for="username" class="required">NCI Username</label>
                                        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="nciUsername" required>
                                        <p><small class="text-muted">The username for the NCI account.</small></p>
                                        <label class="required" for="projectCode" class="required">NCI Project Code</label>
                                        <input type="text" class="form-control" id="projectCode" name="projectCode" [(ngModel)]="nciProjectCode" required>
                                        <p><small class="text-muted">The default NCI project code.</small></p>
                                        <label class="required" for="key">NCI Key</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="key" name="key" [(ngModel)]="nciKey" placeholder="Select SSH file" readonly required>
                                            <input class="inputfile" id="fileinput" type="file" multiple="single" (change)="nciKeyFileChanged($event)">
                                            <div class="input-group-append">
                                                <label for="fileinput" class="btn btn-primary btn-sm" style="height:100%;text-align:center;">
                                                    <i class="fa fa-upload"></i>&nbsp;Browse
                                                </label>
                                            </div>
                                        </div>
                                        <p><small class="text-muted">The NCI key (SSH) for the NCI account.</small></p>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary pull-right" [disabled]="!nciForm.valid" (click)="saveNciChanges()">Save Changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>

<!-- T&C's dialog -->
<ng-template #termsAndConditionsModal let-c="close">
    <div class="modal-header">
        <h4 class="modal-title">Terms and Conditions</h4>
    </div>
    <div class="modal-body">
        <div style="height: 300px; overflow-y:auto;">
            <h4>Disclaimer</h4>
            This website is presented for the purpose of disseminating information for the benefit of the public.<br>        
            We have taken great care to ensure the information on this website is as correct and accurate as possible. The information on this website is also updated regularly.<br>
            However, we do not guarantee, and accept no legal liability whatsoever arising from, or connected to, the use of any material contained on this website or on any linked site.<br>
            We recommend that users exercise their own skill and care with respect to their use of this website and that users carefully evaluate the accuracy, currency, completeness and relevance of the material on this website for their purposes.<br>
            This website is not a substitute for independent professional advice and users should obtain any appropriate professional advice relevant to their particular circumstances.<br><br>
            <h4>Disclaimer of Computing Costs</h4>
            This website offers users to use an Amazon Web Services (AWS) account or an NCI account for the execution of computing jobs. This service involves costs charged directly to the user. We take no responsibility for these costs. The user is responsible for monitoring their use and charges from AWS and NCI and we take no responsibility if the portal causes costs beyond what the user expected or intended.<br><br>
            <h4>3rd Party data</h4>
            This website includes data sourced from 3rd party organisations. The inclusion of such data does not constitute either an endorsement or a recommendation of this material. Where appropriate, we will indicate 3rd party sourced data.<br>
            The material on this website may include the views or recommendations of third parties, which do not necessarily reflect our views, or indicate our commitment to a particular course of action.<br><br>
            <h4>Links to external websites</h4>
            This website contains links to external websites. We take reasonable care in linking websites but have no direct control over the content of the linked sites, nor the changes that may occur to the content on those sites. It is the responsibility of the user to make their own decisions about the accuracy, currency, reliability and correctness of information contained in linked external websites.<br>
            Links to external websites do not constitute an endorsement or a recommendation of any material on those sites or of any third party products or services offered by, from or through those sites. Users of links provided by this website are responsible for being aware of which organisation is hosting the website they visit.<br><br>
            <h4>Security of the website</h4>
            We apply a range of security controls to protect this website from unauthorised access. However, users should be aware that the World Wide Web is an insecure public network that gives rise to a potential risk that a user's transactions are being viewed, intercepted or modified by third parties or that files which the user downloads may contain computer viruses, disabling codes, worms or other devices or defects.<br>
            We accept no liability for any interference with or damage to a user's computer system, software or data occurring in connection with or relating to this website or its use. Users are encouraged to take appropriate and adequate precautions to ensure that whatever is selected from this site is free of viruses or other contamination that may interfere with or damage the user's computer system, software or data.        
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('reject')">Reject</button>
        <button type="button" class="btn btn-success" (click)="c('accept')">Accept</button>
    </div>
</ng-template>
