<div class="card">
  <div class="card-header">Cart</div>
  <div class="list-group">
    <div *ngFor="let solution of cart$ | async"
      class="list-group-item list-group-item-action d-flex justify-content-between"
      [class.active]="solution.id === selected">

      <a role="button"
        class="w-100"
        (click)="selectSolution(solution)">
        <span class="text-truncate" title="{{ solution.name }}">{{ solution.name }}</span>
      </a>

      <a role="button"
        (click)="removeSolution(solution)">
        <i class="fa fa-times"></i>
      </a>

    </div>

  </div>
</div>
