<div class="card">
  <div class="card-header">Cart</div>
  <div class="btn-group" role="group" *ngFor="let solution of cart$ | async">
    <button type="button" [class.active]="solution.id === selected" (click)="selectSolution(solution)" class="list-group-item list-group-item-action d-flex justify-content-between"
      style="display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis">
      <span class="text-truncate" title="{{ solution.name }}">{{ solution.name }}</span>
    </button>
    <button class="cart-icons" class="btn btn-light" (click)="removeSolution(solution)">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
