::ng-deep datasets-menu > ngb-accordion > .card {
    margin-bottom: 8px;
}

::ng-deep datasets-menu > ngb-accordion > .card > .card-header {
    padding: 2px 2px 2px 4px;
}

::ng-deep datasets-menu > ngb-accordion > .card > .card-body {
    padding: 2px 2px 2px 4px;
}

/*
.icon-button {
    background: white;
}
*/
