<div style="min-height: 200px;">
    <div *ngIf="jobsLoading" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div *ngIf="treeJobsData.length > 0 && !jobsLoading" class="job-browser-table">
        <p-treeTable #jobTreeTable [value]="treeJobsData" [columns]="treeCols" [resizableColumns]="true" [paginator]="true" [rows]="10" 
                [rowsPerPageOptions]="[10,20,30]" selectionMode="{{ selectionMode }}" [(selection)]="selectedJobNodes" 
                [(contextMenuSelection)]="selectedContextNode" metaKeySelection="true" (onNodeSelect)="jobSelected($event)" 
                (onContextMenuSelect)="contextMenuSelected($event)" [contextMenu]="jobContextMenu"
                sortMode="multiple" [multiSortMeta]="multiSortMeta" (sortFunction)="customSort($event)" [customSort]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [(ngStyle)]="col.colStyle" ttResizableColumn [ttSortableColumn]="col.field">{{col.header}}
                        <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                <tr [ttSelectableRow]="rowNode" [ttContextMenuRow]="rowNode" [draggable]="true" (dragover)="allowDrop($event)" (drop)="drop(rowNode.node,$event)"
                    (dragstart)="handleDragstart(rowNode.node,$event)">
                    <td>
                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                        <i *ngIf="!rowNode.node.leaf && !rowNode.node.expanded" class="fa fa-folder">&nbsp;</i>                       
                        <i *ngIf="!rowNode.node.leaf && rowNode.node.expanded" class="fa fa-folder-open">&nbsp;</i>                       
                        <span title="{{ rowData.name }}">{{ rowData.name }}</span>
                    </td>
                    <td>{{ rowData.submitDate | date:'medium' }}</td>
                    <td>{{ rowData.status }}</td>
                </tr>
            </ng-template>
        </p-treeTable>
    </div>
    <div *ngIf="treeJobsData.length === 0 && ! jobsLoading" style="padding:8px;">
        You have no jobs.
    </div>
</div>

<p-toast position="center"></p-toast>

<!-- Job context menu -->
<p-contextMenu #jobContextMenu [model]="jobContextMenuItems" appendTo="body"></p-contextMenu>

<!-- Confirmation dialog -->
<p-confirmDialog></p-confirmDialog>