<div *ngIf="jobsLoading" class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div *ngIf="treeJobsData.length > 0 && !jobsLoading">
    <p-treeTable [value]="treeJobsData" selectionMode="{{selectionMode}}" [(selection)]="selectedJobNodes" (onNodeSelect)="jobSelected($event)"
        (onContextMenuSelect)="jobSelected($event)" [contextMenu]="jobContextMenu">
        <p-column header="Name" [style]="{'width':'40%'}">
            <ng-template let-col let-node="rowData" pTemplate="body">
                <span title="{{ node.data.name }}">{{ node.data.name }}</span>
            </ng-template>
        </p-column>
        <p-column header="Submit Date" [style]="{'width':'40%'}">
            <ng-template let-col let-node="rowData" pTemplate="body">
                <span title="{{ node.data.submitDate | date:'medium' }}">{{ node.data.submitDate | date:'medium' }}</span>
            </ng-template>
        </p-column>
        <!-- TODO: Display status==="Error" in red, etc. -->
        <p-column field="status" header="Status" [style]="{'width':'20%'}">
            <ng-template let-col let-node="rowData" pTemplate="body">
                <span title="{{ node.data.status }}">{{ node.data.status }}</span>
            </ng-template>
        </p-column>
    </p-treeTable>
</div>
<div *ngIf="treeJobsData.length === 0 && ! jobsLoading" style="padding:8px;">
    You have no jobs.
</div>

<!-- Job context menu -->
<p-contextMenu #jobContextMenu [model]="jobContextMenuItems" appendTo="body"></p-contextMenu>

<!-- Confirmation dialog -->
<p-confirmDialog></p-confirmDialog>