table {
    text-align: center;
    width:100%;
    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

::ng-deep {
    /* File input preview panel shouldn't have any y-overflow */
    split-area#preview-panel {
        overflow-y: hidden !important;
    }
}