.center-text {
    text-align: center;
}

/* Proper spacing on the selected file information card header */
table {
    width:100%;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
