<div [@routerTransition]>
    <app-page-header [heading]="'Jobs'" [icon]="'fa-magic'"></app-page-header>
    <div class="row" style="display:flex;">
        <!-- Job tree -->
        <!-- TODO: Translations -->
        <!-- TODO: Move styles to CSS -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">Your Jobs</div>
                <div class="card-body" style="padding: 0px;">
                    <!-- TODO: Position this better -->
                    <div *ngIf="jobsLoading" class="jobs-spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <p-treeTable [value]="treeJobsData" selectionMode="single" [(selection)]="selectedJobNode" (onNodeSelect)="jobSelected($event)">
                        <p-column field="name" header="Name"></p-column>
                        <p-column field="submitDate" header="Submit Date"></p-column>
                        <!-- TODO: Display status==="Error" in red -->
                        <p-column field="status" header="Status"></p-column>
                    </p-treeTable>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm pull-right" (click)="refreshJobs()" style="margin-left:4px;">
                        <i class="fa fa-refresh">&nbsp;Refresh</i>
                    </button>
                    <button class="btn btn-sm pull-right" (click)="showAddFolderModal(addFolderModal)">
                        <i class="fa fa-folder">&nbsp;Add Folder</i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Selected job -->
        <div class="col-auto" style="flex: 1;">
            <div class="card">
                <!-- Header: Selected job details or prompt user to select a job -->
                <div *ngIf="!selectedJob">
                    <div class="card-header" style="margin-top:0px;margin-bottom:0px;">Select a job on the left to view more details</div>
                </div>
                <div *ngIf="selectedJob">
                    <div class="card-header">{{ selectedJob.name }}</div>
                </div>
                <div class="card-body" *ngIf="selectedJob" style="padding-top:0px;">
                    <!-- General job details -->
                    <div class="row">
                        <div class="col">
                            <table>
                                <tr>
                                    <!-- TODO: Display status==="Error" in red -->
                                    <td>
                                        <strong>{{selectedJob.status}}</strong>
                                    </td>
                                    <td>
                                        <strong>{{selectedJob.id}}</strong>
                                    </td>
                                    <td *ngIf="selectedJob.computeInstanceId">
                                        <strong>{{selectedJob.computeInstanceId}}</strong>
                                    </td>
                                    <td *ngIf="!selectedJob.computeInstanceId">
                                        <strong>N/A</strong>
                                    </td>
                                    <td *ngIf="selectedJob.computeInstanceType">
                                        <strong>{{selectedJob.computeInstanceType}}</strong>
                                    </td>
                                    <td *ngIf="!selectedJob.computeInstanceType">
                                        <strong>N/A</strong>
                                    </td>
                                    <td>
                                        <strong>{{selectedJob.submitDate | date}}</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <small>Status</small>
                                    </td>
                                    <td>
                                        <small>Job ID</small>
                                    </td>
                                    <td>
                                        <small>Instance ID</small>
                                    </td>
                                    <td>
                                        <small>Instance Type</small>
                                    </td>
                                    <td>
                                        <small>Submitted</small>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <!-- File panel -->
                        <div class="col" style="padding-left:0px;">
                            <div class="card" style="height:400px;">
                                <!-- Actions button -->
                                <div class="row">
                                    <div class="col">
                                        <div ngbDropdown class="d-inline-block" style="margin-top:4px; margin-left:4px;">
                                            <!--<button class="btn btn-sm" id="actionDropwdown" [disabled]="selectedFiles.length===0" ngbDropdownToggle>-->
                                            <!-- TODO: Re-enable disabled -->
                                            <button class="btn btn-sm" id="actionDropwdown" ngbDropdownToggle>
                                                <i class="fa fa-folder">&nbsp;Actions</i>
                                            </button>
                                            <div aria-labelledBy="actionDropdown" ngbDropdownMenu>
                                                <button class="dropdown-item">
                                                    <i class="fa fa-download">&nbsp;Download file(s) to your machine</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Files table -->
                                <div class="row">
                                    <div class="col">
                                            <div *ngIf="selectedJob.jobDownloads.length > 0">
                                                <a (click)="jobDownloadsIsCollapsed = !jobDownloadsIsCollapsed">
                                                    <i *ngIf="jobDownloadsIsCollapsed" style="line-height:inherit;margin-left:4px;" class="fa fa-toggle-down"></i>
                                                    <i *ngIf="!jobDownloadsIsCollapsed" style="line-height:inherit;margin-left:4px;" class="fa fa-toggle-up"></i>
                                                    <!-- TODO: Dynamic name showing count -->
                                                    <span>Data service downloads</span>
                                                </a>
                                                <div [ngbCollapse]="jobDownloadsIsCollapsed">
                                                    <table class="table">
                                                        <thead>
                                                            <th>Name</th>
                                                            <th>Details</th>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let file of selectedJob.jobDownloads">
                                                                <td>{{ file.name }}</td>
                                                                <!-- Is CSS the best way to truncate long URL? -->
                                                                <td class="trim-info" title="Service call to {{ file.url }}">Service call to <a href="{{ file.url }}">{{ file.url }}</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        <div *ngIf="cloudFiles.length > 0">
                                            <a (click)="cloudFilesIsCollapsed = !cloudFilesIsCollapsed">
                                                <i *ngIf="cloudFilesIsCollapsed" style="line-height:inherit;margin-left:4px;" class="fa fa-toggle-down"></i>
                                                <i *ngIf="!cloudFilesIsCollapsed" style="line-height:inherit;margin-left:4px;" class="fa fa-toggle-up"></i>
                                                <!-- TODO: Dynamic name showing count -->
                                                <span>Files in cloud storage</span>
                                            </a>
                                            <div [ngbCollapse]="cloudFilesIsCollapsed">
                                                <table class="table">
                                                    <thead>
                                                        <th>Name</th>
                                                        <th>Details</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let file of cloudFiles">
                                                            <td>{{ file.name }}</td>
                                                            <td>{{ file.size }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    <!-- TODO: look at Job's jobFiles array, my examples don't have any -->


                                        <!-- TODO: Other conditions, e.g. cloud storage files -->
                                        <!--
                                        <div *ngIf="selectedJob && selectedJob.jobDownloads.length===0" style="margin:20px;">
                                            <label>This job does not have any uploaded input files or service downloads configured. Unsubmitted jobs will not have their input files visible here.</label>
                                        </div>
                                        -->

                                        <!-- TODO: Other conditions, e.g. cloud storage files (add to OR) -->
                                        <!--
                                        <div *ngIf="selectedJob && (selectedJob.jobdownload.length>0)">

                                        </div>
                                        -->

                                    </div>


                                </div>
                            </div>
                        </div>

                        <!-- Preview panel -->
                        <div class="col" style="padding-right:0px;">
                            <div class="card" style="height:400px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Folder modal -->
<ng-template #addFolderModal let-c="close">
    <div class="modal-header">
        <h4 class="modal-title">Add Folder</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="input-group">
            <label for="folderName">Folder Name&nbsp;</label><input type="text" type="form-control" id="folderName" [(ngModel)]="newFolderName" style="display:flex;flex:1;">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="c('OK click')">OK</button>
        <button type="button" class="btn" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>