<div [@routerTransition]>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <table align="center">
            <tbody>
                <tr>
                    <td width="50" style="border-right:1.5px solid; padding:15px;  text-shadow: 2px 2px;" align="left">
                        <img src="/assets/images/AuSc Grid VGL_1.png" height="200px">
                    </td>
                    <td width="500">
                        <p align="left" style="margin-left: 20px">The Virtual Geophysics Laboratory (VGL) is a scientific workflow portal that provides Geophysicists with
                            access to an integrated environment that exploits eResearch tools and Cloud computing technology.
                            It provides in one place -</p>
    
                        <ul >
                            <li> Online access to a wide variety of geophysical datasets</li>
                            <li> Access to specialised geophysics analysis programs</li>
                            <li> Access to high-performance computing</li>
                            <li> A workflow with spatial environment</li>
                        </ul>
                        <a [routerLink]="['/dashboard']" class="btn btn-secondary" style="float: left; margin-left:20px;">Access VGL</a>
                    </td>
                </tr>
    
    
            </tbody>
        </table>
    
        <p>&nbsp;</p>
        <p class=MsoNormal align=center style='margin-bottom:15.0pt;text-align:center; line-height:normal'>
            <img src="/assets/images/dataflow.png" align="center" alt="bar" style="max-width: 600px;">
            <br>
            <br> 
            <span>ACKNOWLEDGEMENTS</span>
        </p>
    
        <table align="center">
            <tbody>
                <tr>
                    <td width="100" align="center" colspan="5">
                        <p style="font-size:12px">VGL is a collaboration between <a href="http://www.auscope.org.au/" style="color:black">AuScope</a>, CSIRO, Geoscience Australia (GA), and the National Computational
                            Infrastructure (NCI).
                            <br> It has been funded by the Federal Government's Education Investment Funds through Australian Research
                            Data Commons (ARDC).
                            <br>It was developed in close collaboration with the geophysics user community and representatives from
                            GA, CSIRO, ANU, Monash, and UQ.</p>
                    </td>
                </tr>
                <tr>
                    <td width="224" align="right">
                        <img src="/assets/images/auscope_single-colour-1.png" height="50px">
                    </td>
                    <td width="224" align="center">
                        <img src="/assets/images/geoscience.png" height="75px">
                    </td>
                    <td width="224" align="center">
                        <img src="/assets/images/ardc.png" height="50px">
                    </td>
                    <td width="224" align="center">
                        <img src="/assets/images/nci.png" height="35px">
                    </td>
                    <td width="224" align="center">
                        <img src="/assets/images/CSIRO_Grad_CMYK-100x100.png" opacity="0.5" height="50px">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    