<div [@routerTransition]>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <table align="center">
        <tbody>
            <tr>
                <td width="50" style="border-right:1.5px solid; padding:15px;  text-shadow: 2px 2px;" align="left">
                    <img src="/assets/images/vgl.png" height="200px">
                </td>
                <td width="500" align="center">
                    <p>The Virtual Geophysics Laboratory (VGL) is a scientific workflow portal that provides Geophysicists with
                        access to an integrated environment that exploits eResearch tools and Cloud computing technology.
                        It provides in one place -</p>

                    <ul>
                        <li> Online access to a wide variety of geophysical datasets</li>
                        <li> Access to specialised geophysics analysis programs</li>
                        <li> Access to high-performance computing</li>
                        <li> A workflow with spatial environment</li>
                    </ul>
                </td>
            </tr>


        </tbody>
    </table>

    <p>&nbsp;</p>
    <p class=MsoNormal align=center style='margin-bottom:15.0pt;text-align:center; line-height:normal'>
        <img src="/assets/images/dataflow.png" align="center" height="100px">
        <br>
        <br>
        <span style='font-size:13.5pt;font-family:"inherit",serif; color:#5AA8D8'>ACKNOWLEDGEMENTS</span>
    </p>

    <table align="center">
        <tbody>
            <tr>
                <td width="100" align="center" colspan="5">
                    <p style="font-size:12px">VGL is a collaboration between AuScope, CSIRO, Geoscience Australia (GA), and the National Computational
                        Infrastructure (NCI).
                        <br> It has been funded by the Federal Government's Education Investment Funds through Australian Research
                        Data Commons (ARDC).
                        <br>It was developed in close collaboration with the geophysics user community and representatives from
                        GA, CSIRO, ANU, Monash, and UQ.</p>
                </td>
            </tr>
            <tr>
                <td width="345" align="right">
                    <img src="/assets/images/auscope_single-colour-1.png" >
                </td>
                <td width="224" align="center">
                    <img src="/assets/images/geoscience.png" height="75px">
                </td>
                <td width="224" align="center">
                    <img src="/assets/images/ardc.png" height="50px">
                </td>
                <td width="224" align="center">
                    <img src="/assets/images/nci.png" height="35px">
                </td>
                <td width="224" align="center">
                    <img src="/assets/images/CSIRO_Grad_CMYK-100x100.png" opacity="0.5" height="50px">
                </td>
            </tr>
        </tbody>
    </table>
</div>
