.card-body {
  padding: 10px;
  .row {
    margin-bottom: 10px;
  }
  li {
    list-style-type: none;
  }
  .submenu-header {
    padding: 4px;
    cursor: pointer;
    background: #eee;
  }

  .flex-column {
    label {
      text-align: left;
    }
  }
}

.input-group {
  button {
    background: none;
    border: none;
    color: black;
  }
}

// Datasets CSS below
.btn {
  cursor: pointer;
}
