<div class="card">
  <div class="card-body" *ngIf="problems.length > 0">
    <!-- Search by problem -->
    <div class="row">
      <div class="col">
        <div class="submenu-header" (click)="problemIsCollapsed = !problemIsCollapsed">
          <span>Problem</span>
          <i *ngIf="problemIsCollapsed" style="line-height:inherit;" class="fa fa-caret-down fa-pull-right"></i>
          <i *ngIf="!problemIsCollapsed" style="line-height:inherit;" class="fa fa-caret-up fa-pull-right"></i>
        </div>
        <div [ngbCollapse]="problemIsCollapsed">
          <div ngbRadioGroup
            name="problemsRadio"
            class="d-flex flex-column"
            [(ngModel)]="selectedProblemId">

            <label ngbButtonLabel style="display:block;
                        white-space:nowrap;
                        overflow:hidden;
                        text-overflow:ellipsis" *ngFor="let problem of problems; let i = index">
              <input ngbButton type="radio" [value]="problem['@id']" title="{{ problem.name }}"> {{ problem.name }}
            </label>
          </div>
          <div class="problem-info" *ngIf="selectedProblem">
            <h3>{{ selectedProblem.name }}</h3>
            <p>{{ selectedProblem.description }}</p>
            <a [href]="selectedProblemId" target="_blank">More info...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="problems.length === 0 && !solutionsLoading" style="padding:10px;">
    No problems could be found.<br>Make sure you have at least one service (AWS and/or NCI) configured in <a [routerLink]="['/user']">your profile</a>.
  </div>
  <div class="col" *ngIf="solutionsLoading">
    Retrieving Solutions...
    <div class="spinner" style="position:relative;">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
  </div>
</div>
<!-- class="input-group input-group-sm" -->
