// Map Styles
#map {
    width: 100%;
    //height: 100%;
    height: calc(100vh - 200px);
}

.drawing-button-panel {
    z-index: 0;
    position: absolute;
    top: 8px;
    right: 26px;
}

// Menu Styles
::ng-deep ngb-accordion > .card {
    margin-bottom: 8px;
}

::ng-deep ngb-accordion > .card > .card-header {
    padding: 2px 2px 2px 4px;
}

::ng-deep ngb-accordion > .card > .card-body {
    padding: 2px 2px 2px 4px;
}

input[type=text][readonly] {
    background: white;
}
