.row {
    margin-bottom: 10px;
}
li {
  list-style-type: none;
}

.input-group {
    button {
        background: none;
        border: none;
        color: black;
    }
}

.btn {
    cursor: pointer;
}
