<nav class="sidebar d-flex flex-column" [ngClass]="{sidebarPushRight: isActive}" [ngStyle]="setSidebarStyle()">
    <div class="list-group common-items">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-fw fa-home" [attr.title]="isSidebarExpanded ? null : ('Home' | translate)"></i>
            <span *ngIf="isSidebarExpanded">&nbsp;{{ 'Home' | translate }}</span>
        </a>
        <a [routerLink]="['/data']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-fw fa-map" [attr.title]="isSidebarExpanded ? null : ('Data' | translate)"></i>
            <span *ngIf="isSidebarExpanded">&nbsp;{{ 'Data' | translate }}</span>
        </a>
        <a [routerLink]="['/solutions']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-fw fa-map-signs" [attr.title]="isSidebarExpanded ? null : ('Solutions' | translate)"></i>
            <span *ngIf="isSidebarExpanded">&nbsp;{{ 'Solutions' | translate }}</span>
        </a>
        <a [routerLink]="['/jobs']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-fw fa-tasks" [attr.title]="isSidebarExpanded ? null : ('Jobs' | translate)"></i>
            <span *ngIf="isSidebarExpanded">&nbsp;{{ 'Jobs' | translate }}</span>
        </a>
        <a [routerLink]="['/wizard/new']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-fw fa-magic" [attr.title]="isSidebarExpanded ? null : ('Create Job' | translate)"></i>
            <span *ngIf="isSidebarExpanded">&nbsp;{{ 'Create Job' | translate }}</span>
        </a>
        <a href="mailto:cg-admin@csiro.au?Subject=VGL query" class="list-group-item">
            <i class="fas fa-fw fa-envelope" [attr.title]="isSidebarExpanded ? null : ('Contact us' | translate)"></i>
            <span *ngIf="isSidebarExpanded">&nbsp;{{ 'Contact us' | translate }}</span>
        </a>
    </div>

    <!-- Sidebar expansion/contraction -->
    <div class="mt-auto" style="bottom:0px;" *ngIf="!isMediaScreen()">
        <button class="btn fa-pull-right" *ngIf="isSidebarExpanded" (click)="setExpanded(false)" title="Collapse sidebar" style="background: #222;"><i class="fas fa-lg fa-chevron-circle-left" style="color: #fff;"></i></button>
        <button class="btn fa-pull-right" *ngIf="!isSidebarExpanded" (click)="setExpanded(true)" title="Expand sidebar" style="background: #222;"><i class="fas fa-lg fa-chevron-circle-right" style="color: #fff;"></i></button>
    </div>
</nav>
