<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group common-items">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>&nbsp;{{ 'Home' | translate }}
        </a>
        <!-- a [routerLink]="['/data']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-map"></i>&nbsp;{{ 'Data' | translate }}
        </a-->
        <a [routerLink]="['/solutions']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-map-signs"></i>&nbsp;{{ 'Solutions' | translate }}
        </a>
        <a [routerLink]="['/jobs']" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-fw fa-magic"></i>&nbsp;{{ 'Jobs' | translate }}
        </a>
        <a href="mailto:cg-admin@csiro.au??Subject=VGL query" class="list-group-item">
          <i class="fa fa-fw fa-send"></i>&nbsp;{{ 'Contact us' | translate }}
        </a>
        <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-fw fa-info"></i>&nbsp;{{ 'About' | translate }}
        </a>
		<div class="nested-menu">
			<a class="list-group-item" [routerLink]="['/data']" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('pages')"> <span><i
					class="fa fa-fw fa-map"></i>&nbsp; {{ 'Data' | translate }}</span>
            </a>
            <!-- TODO: Find all inline style definitions and move to CSS -->
            <!-- TODO: All translations -->
			<li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu" style="margin-right:2px;">
                    <!-- Any text search -->
                    <li>
                        <a class="submenu" (click)="anyTextIsCollapsed = !anyTextIsCollapsed"><span>Any Text</span>
                            <i *ngIf="anyTextIsCollapsed" style="line-height:inherit;" class="fa fa-toggle-down pull-right"></i>
                            <i *ngIf="!anyTextIsCollapsed" style="line-height:inherit;" class="fa fa-toggle-up pull-right"></i>
                        </a>
                        <div [ngbCollapse]="anyTextIsCollapsed">
                            <div class="input-group input-group-sm">
                                <input type="text" data-toggle="tooltip" title="Apply text filter" class="form-control" placeholder="e.g. Geophysics" name="search" [(ngModel)]="anyTextValue">
                                <div class="input-group-btn input-group-apppend">
                                    <button class="btn btn-secondary" type="button" (click)="facetedSearch()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Spatial bounds search -->
                    <li>
                        <a (click)="spatialBoundsIsCollapsed = !spatialBoundsIsCollapsed"><span>Spatial Bounds</span>
                            <i *ngIf="spatialBoundsIsCollapsed" style="line-height:inherit;" class="fa fa-toggle-down pull-right"></i>
                            <i *ngIf="!spatialBoundsIsCollapsed" style="line-height:inherit;" class="fa fa-toggle-up pull-right"></i>
                        </a>
                        <div [ngbCollapse]="spatialBoundsIsCollapsed">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Use buttons to enter bounds" [value]="spatialBoundsText" readonly>
                                <div class="input-group-btn input-group-apppend">
                                    <button class="btn btn-secondary" type="button" data-toggle="tooltip" title="Use current map bounds" (click)="spatialBoundsFromMap()">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button class="btn btn-secondary" type="button" data-toggle="tooltip" title="Draw bounds" (click)="drawSpatialBounds()">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </div>
                            </div>                        
                        </div>
                    </li>
                    <!-- Keywords search -->
                    <li>
                        <a (click)="keywordsIsCollapsed = !keywordsIsCollapsed"><span>Keywords</span>
                            <i *ngIf="keywordsIsCollapsed" style="line-height:inherit;" class="fa fa-toggle-down pull-right"></i>
                            <i *ngIf="!keywordsIsCollapsed" style="line-height:inherit;" class="fa fa-toggle-up pull-right"></i>
                        </a>
                        <div [ngbCollapse]="keywordsIsCollapsed">
                            <div class="input-group input-group-sm">
                                <select class="form-control" placeholder="Keywords" name="keywords">
                                </select>
                                <div class="input-group-btn input-group-apppend">
                                    <button class="btn btn-secondary" type="button">
                                        <i class="fa fa-plus-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Available services -->
                    <li>
                        <a (click)="servicesIsCollapsed = !servicesIsCollapsed"><span>Available Services</span>
                            <i *ngIf="servicesIsCollapsed" style="line-height:inherit;" class="fa fa-toggle-down pull-right"></i>
                            <i *ngIf="!servicesIsCollapsed" style="line-height:inherit;" class="fa fa-toggle-up pull-right"></i>
                        </a>
                        <div [ngbCollapse]="servicesIsCollapsed">
                            <label class="control-label medium" style="color:white;">Gridded Data Services</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" id="check1">
                                    </div>
                                </div>
                                <label class="control-label small" for="check1" style="color:white;">&nbsp;Web Coverage Service</label>
                            </div>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" id="check2">
                                    </div>
                                </div>
                                <label class="control-label small" for="check2" style="color:white;">&nbsp;NetCDF Subset Service</label>
                            </div>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" id="check3">
                                    </div>
                                </div>
                                <label class="control-label small" for="check3" style="color:white;">&nbsp;OPenNDAP Service</label>
                            </div>
                            <label style="color:white;">Point/Line Data Services</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" id="check4">
                                    </div>
                                </div>
                                <label class="control-label small" for="check4" style="color:white;">&nbsp;Web Feature Service</label>
                            </div>
                            <label style="color:white;">Visualisation Services</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" id="check5">
                                    </div>
                                </div>
                                <label class="control-label small" for="check5" style="color:white;">&nbsp;Web Map Service</label>
                            </div>
                        </div>
                    </li>
                    <!-- Publication date -->
                    <!-- TODO: Bring calendars to front, currently partially obscured under map -->
                    <li>
                        <a style="color:white;" (click)="pubDateIsCollapsed = !pubDateIsCollapsed"><span>Publication Date</span>
                            <i *ngIf="pubDateIsCollapsed" style="line-height:inherit;" class="fa fa-toggle-down pull-right"></i>
                            <i *ngIf="!pubDateIsCollapsed" style="line-height:inherit;" class="fa fa-toggle-up pull-right"></i>
                        </a>
                        <div [ngbCollapse]="pubDateIsCollapsed">
                            <!-- Form required for Datepicker -->
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <label class="control-label col-sm-4 small" for="date-from" style="color:white;">From</label>
                                        <!-- TODO: Validation -->
                                        <input class="form-control" id="date-from" placeholder="yyyy-mm-dd" name="dp-from" [(ngModel)]="dateFrom" (ngModelChange)="publicationDateChanged()" ngbDatepicker #dp_from="ngbDatepicker">
                                        <div class="input-group-btn input-group-append">
                                            <button class="btn btn-secondary" type="button" (click)="dp_from.toggle()">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <label class="control-label col-sm-4 small" for="date-to" style="color:white;">To</label>
                                        <!-- TODO: Validation -->
                                        <input class="form-control" id="date-to" placeholder="yyyy-mm-dd" name="dp-to" [(ngModel)]="dateTo" (ngModelChange)="publicationDateChanged()" ngbDatepicker #dp_to="ngbDatepicker" style="z-index:2000">
                                        <div class="input-group-btn input-group-append">
                                            <button class="btn btn-secondary" type="button" (click)="dp_to.toggle()">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <!-- Available registries -->
                    <li>
                        <a (click)="registriesIsCollapsed = !registriesIsCollapsed"><span>Available Registries</span>
                            <i *ngIf="registriesIsCollapsed" style="line-height:inherit;" class="fa fa-toggle-down pull-right"></i>
                            <i *ngIf="!registriesIsCollapsed" style="line-height:inherit;" class="fa fa-toggle-up pull-right"></i>
                        </a>
                        <div [ngbCollapse]="registriesIsCollapsed">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" id="check1">
                                    </div>
                                </div>
                                <label for="check1" class="small" style="color:white;">&nbsp;NCI Data Portal</label>
                            </div>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" id="check2">
                                    </div>
                                </div>
                                <label for="check2" class="small" style="color:white;">&nbsp;SASS ANU Geonetwork</label>
                            </div>
                        </div>
                    </li>
                    <!-- Search results -->
                    <!-- TODO : Paging of results (use factedSearch start/limit) -->
                    <li>
                        <a (click)="searchResultsIsCollapsed = !searchResultsIsCollapsed">Search Results
                            <span><i *ngIf="searchResultsIsCollapsed" style="line-height:inherit;" class="fa fa-toggle-down pull-right"></i></span>
                            <span><i *ngIf="!searchResultsIsCollapsed" style="line-height:inherit;" class="fa fa-toggle-up pull-right"></i></span>
                        </a>
                        <div [ngbCollapse]="searchResultsIsCollapsed">
                            <!-- TODO: Display  message if no current results -->
                            <li *ngFor="let cswRecord of cswRecords">
                                <!-- Don't display the PAGE_LENGTH+1 result if it exists, we use it to see if there's a next page -->
                                <div *ngIf="cswRecords.length<11 || cswRecord != cswRecords[CSW_RECORD_PAGE_LENGTH]" class ="input-group input-group-sm" style="margin-bottom:2px;">
                                    <span class="input-group-btn">
                                        <button *ngIf="!olMapService.layerExists(cswRecord.id)" class="btn btn-sm" data-toggle="tooltip" title="Add layer to map" (click)="addCSWRecord(cswRecord)"><i class="fa fa-plus-circle"></i></button>
                                        <button *ngIf="olMapService.layerExists(cswRecord.id)"class="btn btn-sm" data-toggle="tooltip" title="Remove layer from map" (click)="removeCSWRecord(cswRecord.id)"><i class="fa fa-trash"></i></button>
                                    </span>
                                    <input class="text text-truncate small" data-toggle="tooltip" title="{{ cswRecord.name }}" value="{{ cswRecord.name }}" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn btn-sm" data-toggle="tooltip" title="Click to display layer information" (click)="showCSWRecordInformation(cswRecordModal, cswRecord)"><i class="fa fa-info-circle"></i></button>
                                    </span>
                                    <span class="input-group-btn">
                                        <!-- TODO: Delay required to stop dblclick registering as 2 single clicks -->
                                        <button class="btn btn-sm" data-toggle="tooltip" title="Display layer bounds, double-click to zoom to bounds" (click)="showCSWRecordBounds(cswRecord)" (dblclick)="zoomToCSWRecordBounds(cswRecord)"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </li>
                            <div *ngIf="cswRecords.length==0">
                                <label style="color:white;">No records match the current filter(s)</label>
                            </div>
                            <div *ngIf="cswRecords.length>0">
                                <button [disabled]="cswRecords.length<11" class="btn btn-sm pull-right" style="margin-left:2px;" data-toggle="tooltip" title="Next page" (click)="nextResultsPage()"><i class="fa fa-arrow-circle-right"></i></button>
                                <button [disabled]="currentCSWRecordPage==1" class="btn btn-sm pull-right" style="margin-left:2px;" data-toggle="tooltip" title="Previous page" (click)="previousResultsPage()"><i class="fa fa-arrow-circle-left"></i></button>
                                <label class="pull-right" style="color:white;">Page {{ currentCSWRecordPage }}&nbsp;</label>
                            </div>
                        </div>
                    </li>
                </ul>
			</li>
		</div>
		<!-- <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
             <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
             </a>
             <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
             <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
             </a>
             <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
             <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
             </a>
             <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
             <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Bootstrap Element' | translate }}
             </a>
             <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
             <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Bootstrap Grid' | translate }}
             </a>
             <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
             <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
             </a>
             <div class="nested-menu">
             <a class="list-group-item" (click)="addExpandClass('pages')">
             <span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>
             </a>
             <li class="nested" [class.expand]="showMenu === 'pages'">
             <ul class="submenu">
             <li>
             <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
             </li>
             <li>
             <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
             </li>
             <li>
             <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
             </li>
             </ul>
             </li>
             </div>
             <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
             <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
             </a> -->
    </div>

    <div class="list-group">
      <a class="list-group-item">Page specific</a>
    </div>

    <!-- CSW Record modal -->
    <ng-template #cswRecordModal let-close="close">
        <div class="modal-header" style="background: #EEE">
            <h5 class="modal-title" id="exampleModalLongTitle">CSW Record Information</h5>
            <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="margin-left:10px;margin-right:10px;">
            <form>
                <div class="form-group row">
                    <label for="csw-source" class="col-2 col-form-label">Source</label>
                    <div class="col-10">
                        <a href="{{ selectedCSWRecord.recordInfoUrl }}" id="csw-source" class="form-control" target="_blank">Full metadata and downloads</a>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="csw-name" class="col-2 col-form-label">Title</label>
                    <div class="col-10">
                        <label id="csw-name" class="form-control">{{ selectedCSWRecord.name }}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="csw-abstract" class="col-2 col-form-label">Abstract</label>
                    <div class="col-10">
                        <textarea class="form-control" rows="3" id="csw-abstract">{{ selectedCSWRecord.description }}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">More to come...</label>
                </div>
            </form>
        </div>
        <div class="modal-footer" style="background: #EEE">
            <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        </div>    
    </ng-template>
    <!-- <div class="logos">
         <img height="40px" src="/assets/images/CSIRO_Grad_RGB_lr.jpg">
         <img height="40px" src="/assets/images/auscope.jpg">
         </div> -->
</nav>
