<!-- Image in preview panel -->
<!--
<img id="previewImage" src="{{ data }}" (click)="isShowingImageModal(true)">
-->
<!-- Modal to view image full screen, hidden by default -->
<!--
<div #imageModal id="imageModal" class="image-modal" [ngStyle]="setModalStyle()" (scroll)="onScroll($event)">
    <span class="close-button" (click)="isShowingImageModal(false)" >&times;</span>
    <img class="image-modal-content" src="{{ data }}">
    <div id="imageCaption"></div>
</div>
-->
GeoTIFF
<!--<div id="previewMap" class="map height-full width-full"></div>-->
<div #previewMapElement id="previewMap" class="map-container height-full width-full" ></div>
<!--<div id="map" class="map height-full width-full"></div>-->