:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.map-container {
    flex-grow: 1;
}

.opacitySlider {
    margin-left: 6px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 10px;
    width: 200px;
    padding: 0 10px 10px 10px;
    border-radius: 6px;

    label {
        display: block;
        text-align: center;
    }
}

.xyCoords {
    margin-left: 6px;
    z-index: 999;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    top: 10px;
    padding: 5px 5px 0 5px;
    border-radius: 6px;
}