<!-- "display:block;margin:auto;" ensures image is scaled and centered. Perhaps add an option to use scrollbars -->
<img src="{{ data }}" style="display:block;margin:auto;max-width:100%;max-height:100%;">
<!--<img src="http://placekitten.com/600/600" style="display:block;margin:auto;max-width:100%;max-height:100%;">-->

<!-- TODO: Work out how to get this into jobs.component.html
<input #actualSizeCb type="checkbox" id="actualSize" (change)="actualSizeChanged(actualSizeCb)">
<label for="actualSize">Actual Size</label>
-->
