<img src="{{ data }}" style="display:block;overflow:auto;margin:auto;max-width:100%;max-height:100%;">

<!-- TODO: Set correct style based on checkbox
<div class="card" style="width:100%;height:100%;overflow:auto;">
    <div class="card-body" style="padding: 2px;">
        <img src="{{ data }}" [ngStyle]="setStyles()">
    </div>
    <div class="card-footer">
        <input #fitToPreviewCb type="checkbox" id="fitToPreview" (change)="fitPreviewCheckboxChanged(fitToPreviewCb)">
        <label for="actualSize">Fit to preview area</label>
    </div>
</div>
-->