.olMapLayerPanel {
    ::ng-deep { 
        .card {
            font-size: 0.875rem;
            line-height: 1.5;
            border: 0px; 
        }
        .btn-link {
            color: #fff;
            background-color: #007bff;

            font-size: 0.875rem;
            line-height: 1.5;

            height: 30px;
            margin-top: -3px;

            text-decoration: none;
        }
        .card-header {
            color: #fff;
            background-color: #007bff;
            padding: 0.25rem 0.5rem;
            border-radius: 0.2rem;
            /*
            padding-top: 4.5px;
            padding-bottom: 4.5px;
            */
            display: contents;
            height: 30px;
        }
        .card-body {
            padding-top: 2px;
            padding-left: 2px;
            padding-right: 2px;
            padding-bottom: 0px;
        }
    }

    // Remove opacity Dropdown arrow
    .dropdown-toggle::after {
        display:none;
    }
  
    .dropdown-menu {
        min-width: 25px;
    }
  
    p-slider {
        display: flex;
        justify-content: center;
    }
  
}
