.olMapLayerPanel {
    ::ng-deep { 
        .card {
            font-size: 0.875rem;
            line-height: 1.5;
            border: 0px; 
        }
        .card-header a {
            color: #fff;
            background-color: #007bff;
            text-decoration: none;
        }
        .card-header {
            color: #fff;
            background-color: #007bff;
            padding: 0.25rem 0.5rem;
            border-radius: 0.2rem;
            padding-top: 4.5px;
            padding-bottom: 4.5px;
        }
        .card-body {
            padding-top: 2px;
            padding-left: 2px;
            padding-right: 2px;
            padding-bottom: 0px;
        }
    }
}
