.olMapLayerPanel {

    max-width: 20em;

    ::ng-deep { 
        .card {
            font-size: 0.875rem;
            line-height: 1.5;
            border: 0px;
            display: inline;
        }
        .btn-link {
            color: #fff;
            background-color: #007bff;
            font-size: 0.875rem;
            line-height: 1.0;
            height: 28px;
            margin-top: -3px;
            text-decoration: none;
        }
        .card-header {
            color: #fff;
            background-color: #007bff;
            padding: 0.25rem 0.5rem;
            border-radius: 0.2rem;
            display: contents;
            height: 30px;
            display: grid;
        }
        .card-body {
            padding-top: 2px;
            padding-left: 2px;
            padding-right: 2px;
            padding-bottom: 0px;
            background: white;
        }
    }

    .row {
        display: contents;
        margin-bottom: 10px;
    }
    li {
        list-style-type: none;
    }

}
