<div [@routerTransition]>

  <div class="page-header">
    <h1>Input data</h1>
    <hr>
  </div>
  <p>
    <app-job-datasets></app-job-datasets>
  </p>

  <div class="page-header">
    <h1>Solutions</h1>
    <hr>
  </div>
  <p>
    <app-job-solutions-summary></app-job-solutions-summary>
  </p>

  <div class="page-header">
    <h1>Job object</h1>
    <hr>
  </div>
  <p>
      <app-job-object></app-job-object>
  </p>

  <div class="page-header">
    <h1>Review</h1>
    <hr>
  </div>
  <p>
    <button class="btn btn-primary" style="margin-right:8px;" (click)="save()">Save</button>
    <button class="btn btn-primary" style="margin-right:8px;" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" [disabled]="jobIncomplete" (click)="submit()">Submit</button>
  </p>

</div>
