<div *ngIf="solutions; else noSolutions">
  <div class="row">
    <div class="col-md-4">
      <div *ngIf="solutions.length > 0; else noSolutions" class="list-group">
        <button *ngFor="let solution of solutions"
          type="button"
          class="list-group-item list-group-item-action flex-column align-items-start"
          [class.active]="solution.isActive"
          (click)="activateSolution(solution)">
          <div class="d-flex w-100 justify-content-between" style="width:100%">
            <h5 class="mb-1">{{ solution.name }}</h5>
            <small>
              <a role="button" (click)="removeSolution(solution)">
                <i class="fa fa-times"></i>
              </a>
            </small>
          </div>
          <p class="mb-1" [ngbCollapse]="!solution.isActive">
            {{ solution.description }}
          </p>
        </button>
      </div>
    </div>
    <div class="col-md-8">
      <app-job-solution-vars
        *ngFor="let solution of solutions"
        [ngbCollapse]="!solution.isActive"
        [solution]="solution"
        [bindings]="varBindings[solution.id]"
        (bindingsChange)="updateBindings(solution, $event)"></app-job-solution-vars>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ngx-monaco-editor class="template-code-editor" [options]="editorOptions" [(ngModel)]="template"></ngx-monaco-editor>
    </div>
  </div>
</div>

<ng-template #noSolutions>
  <p class="missing-info">No solution has been selected for this job. Please choose a solution to provide the template, then return here to create a new job.</p>
  <a [routerLink]="['/solutions']" role="button" class="btn btn-secondary">Choose a solution</a>
</ng-template>
