<div [formGroup]="form">
  <label [attr.for]="binding.key">{{binding.label}}</label>

  <div [ngSwitch]="binding.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="binding.key"
      [id]="binding.key" [type]="binding.formType">

    <select [id]="binding.key" *ngSwitchCase="'dropdown'" [formControlName]="binding.key">
      <option *ngFor="let opt of binding.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>
  <div class="errorMessage" *ngIf="!isValid">{{binding.label}} is required</div>

  <p class="help-block">{{ binding.description }}</p>

</div>
