<div [formGroup]="form">
  <label [attr.for]="binding.key">{{binding.label}}</label>

  <div [ngSwitch]="binding.controlType">

    <input *ngSwitchCase="'text'" [formControlName]="binding.key" [id]="binding.key" type="text" [required]="binding.required">

    <input *ngSwitchCase="'number'" [formControlName]="binding.key"
      type="number" [id]="binding.key" [required]="binding.required"
      [min]="numberBinding(binding, 'min')"
      [max]="numberBinding(binding, 'max')"
      [step]="numberBinding(binding, 'step')">

    <input *ngSwitchCase="'checkbox'" [formControlName]="binding.key" [id]="binding.key" type="checkbox" [required]="binding.required">

    <select [id]="binding.key" *ngSwitchCase="'dropdown'" [formControlName]="binding.key">
      <option *ngFor="let opt of getBindingOptions(binding)" [value]="opt">{{opt}}</option>
    </select>

    <div class="input-group" *ngSwitchCase="'date'">
      <input class="form-control" placeholder="yyyy-mm-dd"
        [formControlName]="binding.key" [id]="binding.key" [required]="binding.required"
        [name]="binding.key" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <i class="fa fa-calendar"></i>
        </button>
      </div>
    </div>

    <div class="input-group" *ngSwitchCase="'bbox'">
      <input type="text" class="form-control"
        [formControlName]="binding.key" [id]="binding.key" [required]="binding.required"
        placeholder="WestLon SouthLat EastLon NorthLat" #bbox>
      <div class="input-group-append">
        <app-selection-picker (picked)="updateBinding(binding, $event)"></app-selection-picker>
      </div>
    </div>

  </div>
  <div class="errorMessage" *ngIf="!isValid">{{binding.label}} is required</div>

  <p class="help-block">{{ binding.description }}</p>

</div>
